@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.font-home{
    font-size: large;
}

.nav-icon {
    font-size: 30px;
    color: #ffffff;
    border-style: solid;
    border-color: #4b6cc1;
    padding: 10px;
}

.banner-section-image {
    width: 150px;
}

.banner-bg-container {
    background-color: #191a1d;
}

.about-me-and-skilld-bg-container {
    background-color: #4463b1;

}

.about-me-about-me {
    font-size: 44px;
    color: #ffffff;
    font-weight: bold;
}

.about-me-content {
    color: #dae8b9;
    font-size: 16px;
}

.skills-section-bg-container {
    background-color: #1f2933;
    width: 100%;
}

.page-title{
    font-size: 50px;
}

.social {
    margin: 10px;
    width: 1000px;
    text-align: inherit;
    padding: 10px;
}

.readme {
    position: relative;
    padding: 11px 35px;
    background: #fff;
    color: #00796b;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.contactme {
    position: relative;
    padding: 11px 35px;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 1.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.icon-btn {
    margin-left: auto;
    width: 60px;
    height: 70px;
    border: 0;
    color: #de5555;
    cursor: pointer;
    font-size: 30px;
    line-height: 70px;
    border-radius: 45px;
    display: inline-block;
    margin: 4px;
    /* padding: auto; */
    padding-bottom: 70px;
}

.section {
    padding-bottom: 30px;
    padding-top: 0;
    position: relative;
    background-color: white;
}

.todoimg{
    height: 200px;
    width: auto;
}

.project-section-card-container{
    background-color: rgb(120, 89, 10);
    height: 420px;
    width: 300px;
    align-items: left;
} 

.card-content {
    padding-bottom: 30px;
    border-radius: 5px;
    border-color: #8c8f8f;
    border-style: solid;
}

.card .card-content p {
    padding: 5px 0 0;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
}

.card .card-title {
    font-size: 30px;
}

.card .card-content .card-title {
    line-height: 2.5rem;
}

.card-action span {
    font-size: 85%;
    color: #666;
}

.card ul {
    margin-bottom: 0;
}

.card ul li {
    line-height: 200%;
    list-style-type: disc;
    margin-left: 6px;
    margin-right: 12px;
}

.card i.right {
    margin-left: 10px;
}

.github {
    color: black;
}

.linkedin {
    color: #0077b5;
}

.about-me-card-container {
    background-color: #323f4b;
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.about-me-card-image {
    width: 80px;
    margin-bottom: 5px;
}

.about-me-card-title {
    color: #ffffff;
    font-size: 20px;
}

.project-section-bg-container {
    background-color: #6e8194;
}

.services-section-card-container {
    background-color: #52606d;
    margin-bottom: 15px;
    border-radius: 10px;
}

.skill-section-card-image {
    width: 40px;
}

.services-card-heading {
    font-size: 25px;
    margin-top: 8px;
}

.work-section-line {
    border-color: #ffffff;
}

.testimonials-card-image {
    width: 80px;
    border-radius: 40px;
}

.testimonials-card-container {
    background-color: #323f4b;
    padding: 30px;
    text-align: center;
}

.mid-headings{
    color: rgb(113, 255, 48);
    margin-bottom: 10px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.footer-section-copyright-container {
    text-align: center;
    color: #ffffff;
    background-color: #001c32;
    padding: 10px;
}

.footer-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.footer-section-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}